@tailwind base;
@tailwind components;
@tailwind utilities;
html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.msg-bubble {
  @apply px-4 py-2 border rounded-2xl text-base font-normal w-max text-white bg-gray-600
}

.msg-input {
  @apply rounded px-1 py-1 focus:outline-none focus:ring-2 focus:border-transparent focus:ring-indigo-500 border-2 text-sm float-right
}
